.drft{
    margin: 2rem 0 2rem 0;
}

.drft{
    display: flex;
    justify-content: center;
    align-items: center;
    
}
.drft .dftImg_container{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    position: relative;
}
.dftImg_container .dftcircleImg{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 55%;
    height: 50%;
}

@media (max-width: 398px) {
    .dftImg_container .dftcircleImg{
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
        margin-top: 1rem;
    }
}