.drft{
    margin: 2rem 0 2rem 0;
}

.drft{
    display: flex;
    justify-content: center;
    align-items: center;
    
}
.drft .dftImg_container{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    position: relative;
}
.dftImg_container .dftcircleImg{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 40%;
    height: 50%;
}
.dftImg_container .imgcenterTxt{
    position: absolute;
    top: 105px;
    left: 435px;
    width: 245px;
    height: 246px;
    border-radius: 100%;
    background-color: #e7e7e7c5;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}
.dftmaintext{
    font-weight: 900;
    color: #E5007E;
    /* color: #011E41; */
    font-size: 1.3rem;
}
.dftImg_container .imgTextOne_con{
    position: absolute;
    top: 50px;
    left: 435px;
}