.slide_one {
    height: 480px;
    object-fit: cover;
}

.carousel-control-next-icon,
.carousel-control-prev-icon {
    display: inline-block;
    width: 4rem !important;
    height: 4rem !important;
    background-repeat: no-repeat;
    background-position: 50%;
    background-size: 100% 100%;
}

.caro_bannerContainer {
    position: relative;

}

.banner_svg {
    position: absolute;
    left: -70px;
    bottom: -100px;
    width: 600px;
    height: 400px;
}

.banner_text {
    position: absolute;
    left: 120px;
    bottom: -170px;
    width: 300px;
    height: 400px;
    font-size: 2.74rem;
    color: #fff;
    font-weight: bolder;
    line-height: 50px;
}

.mblBannerBox {
    display: none;
}

/* responsive styles */
@media only screen and (max-width: 768px) {
    .mblBannerBox {
        position: absolute;
        left: -70px;
        bottom: -100px;
        width: 600px;
        height: 400px;

    }
}

@media only screen and (max-width: 468px) {

    .banner_svg,
    .banner_text {
        display: none;
    }

    /* .banner_text{

    } */
    .mblBannerBox {
        visibility: visible;
        position: absolute;
        display: flex;
        /* left: -70px; */
        bottom: 40px;
        width: 600px;
        height: 170px;
        background-color: #EAECF3;
        display: flex;
        justify-content: flex-start;
        flex-direction: column;
        align-items: center;

    }

    .mblBannerBox .banner_mblText {
        position: absolute;
        left: 100px;
        top: 20px;
        width: 400px;
        height: 170px;
        font-size: 38px;
        font-weight: bolder;
        color: #222222;
        font-weight: bolder;
        line-height: 40px;
    }
    .carousel-control-next-icon,
    .carousel-control-prev-icon {
        display: inline-block;
        width: 2rem !important;
        height: 2rem !important;
        font-weight: bold;
        color: #fff;
        background-repeat: no-repeat;
        background-position: 50%;
        background-size: 100% 100%;
    }
    /* CARUOSEL BUTTON STYLES */
    .caru_btn {
        border: 1px solid #011e41;
        color: #011e41;
        background-color: #fff;
        text-transform: uppercase;
        display: inline-block;
        position: relative;
        overflow: hidden;
        min-width: 170px;
        min-height: 35px;
        font-size: .77rem;
        top: 110px;
        left: -90px;
        font-weight: bolder;
        transition: all .3s ease-in-out 0s;
        -moz-transition: all .3s ease-in-out 0s;
        -webkit-transition: all .3s ease-in-out 0s;
        border-radius: 0;
    }

    .caru_btn::before {
        content: '';
        position: absolute;
        width: 0;
        height: 0;
        border-style: solid;
        border-width: 6.5px 0 6.5px 6px;
        border-color: transparent transparent transparent #fff;
        right: 10px;
        top: 10px;
        z-index: 1;
        transition: all .3s ease-in-out 0s;
        -moz-transition: all .3s ease-in-out 0s;
        -webkit-transition: all .3s ease-in-out 0s;
    }

    .caru_btn::after {
        border-left: 2px solid #011e41;
        content: '';
        position: absolute;
        background-color: #011e41;
        width: 40px;
        height: 100%;
        top: 0;
        -webkit-transform: skewX(-20deg);
        -moz-transform: skewX(-20deg);
        -ms-transform: skewX(-20deg);
        -o-transform: skewX(-20deg);
        transform: skewX(-20deg);
        right: -8px;
        transition: all .3s ease-in-out 0s;
        -moz-transition: all .3s ease-in-out 0s;
        -webkit-transition: all .3s ease-in-out 0s;
    }

    .caru_btn {
        margin-right: 2rem;
    }

    .caru_btn:hover::after {
        border: 1px solid #870064;
        color: #870064;
        right: -5.88px;
        background-color: #870064;
    }
}