.footer{
    width: 100%;
    height: 100%;
    margin-bottom: 4rem;
}
.footer_first{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 2rem;
}
.footer_center{
    border-top: 2px solid #7e7e7e67;
}

.fpImg_container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    /* border: 1px solid #000; */
}
.fpImg_container .fpimage{
    width: 130px;
    height: 100%;
    object-fit: cover;
}
.nike, .continental,.sports{
    margin-left: 7rem;
}
.footer_main{
    background-image: url('../../assets/pinkbg.jpg');
    background-repeat: no-repeat;
    background-position:center;
    object-fit:cover;
    width: 100%;
    height: 40vh;
}
.footer_main .twitter_icon{
    color: #fff !important;
    width: 40px;
    height: 30px;
    margin-top: 4rem;
}
.twitter_right{
    display: flex;
    justify-content: flex-end;
    margin-top: 4rem;

}
.twitter_right .twitterDropdown{
    background-color: #fdfdfd00;
    padding: .66rem 3rem;
    border: none;
    color: #fff;
    border-bottom: 1px solid #fff;
}
.twitter_title{
    margin-left: -3rem;
    font-weight: bold;
}
.dropup .dropdown-toggle::after {
    display: inline-block;
    margin-left: 8em;
    vertical-align: 0.255em;
    content: "";
    color: #fff;
    border-top: 0;
    border-right: .36em solid transparent;
    border-bottom: 0.3em solid;
    border-left: .36em solid transparent;
}
.footer_links{
    border-top: 1px solid #ffffffdc;
}
.flinks_items{
    width: 70%;
    margin-top: 1rem;
    display: flex;
    justify-content: flex-start;
    align-items: start;
}
.fiItem_li{
    color: #fff;
    font-weight: bold;
    margin-right:1.66rem;
    font-size: 1.15em;
}

/* footer last */
.footer_last{
    background-image: url(https://womenscompetitions.thefa.com/Content/site/img/FemaleEngagement/bg/texture-fa-neutral.svg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}
.flImage_container{
    width: 50%;
    /* height: 50%; */
    display: flex;
    justify-content: flex-start;
    align-items: center;
}
.flImage_container .flimg{
    width: 100%;
    height: 100%;
 
}
.flrightimg_container{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: flex-end;
    align-items: end;
    flex-direction: column;
}
.flrightimg_container .flRightImg{
   width: 6.25rem;
   height: 3.25rem;
}
.flRight_text{
    font-family: arial;
    font-size: .7rem;
    line-height: 12px;
    color: #424242;
}