.topsubN{
    background-color: #fff;
}
.topsubnav {
    /* border: 1px solid #000; */
    margin-top: .3rem;
    height: 40%;
}

.topsubLeft_imgContainer {
    width: 60%;
    height: 98%;
}
.link{
    text-decoration: none;
    color: #011e41;
}
.link:hover{
    color: #042d5fe8;
}
.topsubLeft_imgContainer .topsubimg {
    width: 100%;
    height: 100%;

}

.topsRight {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    /* border: 1px solid red; */
    width: 100%;
    height: 100%;
}

.topsubRight {
    display: flex;
    justify-content: center;
    align-items: end;
    margin-top: 16px;
    flex-direction: column;
    /* border: 1px solid red; */
    width: 100%;
    height: 100%;
}

.topsubRight .topsubGmeTime {
    font-size: .77rem;
    font-weight: bold;
}

.topsubRight .topsubVerses {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    /* font-size: 20px; */
    margin: .57rem;
}

.topsubVerses .topsubVerses_img {
    width: 20px;
    height: 20px;
}

.topsubProfile {
    width: 14%;
    height: 100%;
    /* border: 1px solid black; */
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.topsubProfile::before {
    border-left: 1px solid #ccc;
    content: "";
    height: 40px;
    left: 15px;
    /* position: absolute; */
    top: 10px;
    transform: rotate(20deg);
    width: 10px;
}

.topsubProPic {
    width: 2rem !important;
    height: 2em !important;
}

/* responsive styles */
@media only screen and (max-width: 768px){
    .topsubnav {
        /* border: 1px solid #000; */
        margin-top: .3rem;
        height: 140px;
    }
}
@media only screen and (max-width: 468px){
    .topsubLeft_imgContainer {
        width: 62%;
        height: 100%;
    }
    .topsubnav {
        /* border: 1px solid #000; */
        margin-top: .3rem;
        height: 140px;
    }
    .topsubRight {
        display: flex;
        justify-content: center;
        align-items: center;
        /* flex-direction: column; */
        /* border: 1px solid red; */
        width: 100%;
        height: 100%;
        margin-left: 1rem;
    }
    .topTeamsNames{
        /* display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column; */
    }
    .topsubProfile::before {
        border-left: 1px solid #cccccc00;

    }
    .sticky-top{
        margin-top: 1.77rem;
    }
    .topsubProPic {
        width: 2.3rem !important;
        height: 2em !important;
        position: absolute;
        top: 10px !important;
        right: 20px;
    }
}