#stickyNav {
    white-space: nowrap;
    width: 100%;
    /* height: 30vh; */
    /* overflow: hidden; */
    /* height: 100%; */
    background-color: #fff;
    position: sticky;
    border-bottom: 1px solid #7e7e7e48;
    top: 12%;
    z-index: 1200;
}

.ff .line::before{
    transform: rotate(20deg);
    position: absolute;
    content: '';
    border-left: 1px solid #ccc;
    /* left: 0; */
    /* right: 0; */
    top: 7px;
    height: 35px;
    width: 1px;
    display: block;
}
.navbar_nav {
    margin-left: 5rem;
    margin-top: 1rem;
    /* min-height: 55px; */
}

.navbar_nav ul li {
    /* display: inline-block;
    position: relative; */
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 100%;
    width: 100%;
}

.stn_icon {
    transition: all 0.5s ease-in-out;
}

.stn_icon:hover .stnIcon_rightArrow {
    transform: rotate(360deg);
    transition: all 0.5s ease-in-out;
}

ul li {
    list-style-type: none;
    list-style: none;
    display: inline-block;
    justify-content: center;
    align-items: center;
}



.nav_item .sticky_li {
    font-size: 22px;
    font-weight: bold;
    line-height: 37px;
    color: #011e41;
    outline: none;
    width: 100%;
    height: 100%;
    transition: all 0.5s ease-in-out;
    /* border-bottom: 2px solid #fff; */

}
/* .nav_item::after {
    border-right: 1px solid #e21010;
    content: "";
    top: 0;
    left: 126px;
    transform: rotate(20deg);
    margin-top: 1rem;
    position: relative;
    transform: rotateX(225deg)
} */

/* .sticky_li::before{
    border-bottom: 1px solid #fff;
    content: '';
    display: block;
    width: 100%;
    height: 2px;
    background: #000;
    color: #ffffff;
    transition: width .1s;
  
} */

/* .sticky_li:hover::after {
    border-bottom: 1px solid #000;
    content: '';
    display: block;
    width: 100%;
    height: 2px;
    background: #000;
    color: #000;
    transition: width .1s;
} */

.sticky_li:hover {
    transform: translateY(5px);
}
@media only screen and (min-width: 1668px){
    #stickyNav {
        white-space: nowrap;
        width: 100%;
        background-color: #fff;
        position: sticky;
        border-bottom: 1px solid #7e7e7e48;
        top: 90px;
        z-index: 1200;
    }

}
/* responsive styles */
@media (max-width:393px) {
    #stickyNav {
        white-space: nowrap;
        overflow-x: scroll;
        width: 100vw;
        position: sticky;
    }
    .ff .line::before{
        transform: rotate(20deg);
        position: absolute;
        content: '';
        border-left: 1px solid #ccc;
        /* left: 0; */
        /* right: 0; */
        top: 28px;
        height: 35px;
        width: 1px;
        display: block;
    }
    .dropdown-menu {
        display: none;
        position: absolute;
        min-width: 10rem !important;
        top: 100%;
        left: 0;
        right: 0;
        z-index: 1000 !important;
    }    
    .navbar_nav {
        margin-left: 5rem;
        /* min-height: 65px !important; */
    }

    .stn_icon{
        font-size: 13px;
    }

    ul li {
        list-style-type: none;
        list-style: none;
        display: inline-block;
        justify-content: center;
        align-items: center;
    }

}

@media only screen and (max-width: 468px) {
    #stickyNav {
        /* overflow: auto;
        white-space: nowrap;
        background-color: #999; */
        position: sticky;
        width: 100vw;
        top: 196px;

    }

    .navbar_nav {
        margin-left: -1.7em;
        min-height: 55px;
    }

    .nav_item .sticky_li {
        display: inline-block;
        /* color: white; */
        text-align: center;
        padding: 14px;
        text-decoration: none;
    }

    .dropdown-menu {
        display: none;
        position: absolute;
        min-width: 14rem !important;
        top: 100%;
        left: 0;
        right: 0;
        z-index: 1000 !important;
    }
}