@tailwind base;
@tailwind components;
@tailwind utilities;


html{
    scroll-behavior: smooth;
}
.dropdown:hover .dropdown-menu{
    display: block;
}

.link{
    text-decoration: none;
    color: #011e41;
}